.filter {
    margin-left: 20px;
}

.board {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    min-width: 1;
    max-width: 1;
    .board-bar {
        background: rgba( gray,  0.5);
        padding: 8px 15px;
        .board-name {
            font-size: 20px;
            color: white;
            font-weight: bold;
        }
    }
    .board-wrapper {
        display: flex;
        flex-grow: 1;
        overflow-x: auto;
        .board-columns {
            display: flex;
            flex-grow: 1;
            flex-wrap: wrap;
            .board-column {
                display: flex;
                flex-direction: column;
                flex: 1 0 21%;
                width: 300px;
                margin: 20px;
                border-radius: 4px;
                padding: 25px;
                background-color: rgba(white, 0.5);
                .column-title {
                    font-size: 20px;
                    font-weight: 800;
                    font-family: 'Lato', sans-serif;
                    text-transform: uppercase;
                    margin-bottom: 20px;
                }
            }
        }
    }
    
}

.task-container {
    flex-grow: 1;
}


.autocomplete {
    display: flex;
    justify-content: center;
}

.cdk-drag-preview {
    box-sizing: border-box;
    border-radius: 4px;
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
                0 8px 10px 1px rgba(0, 0, 0, 0.14),
                0 3px 14px 2px rgba(0, 0, 0, 0.12);
  }
  
.cdk-drag-placeholder {
opacity: 0;
}

.cdk-drag-animating {
transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}
.task:not(.cdk-drag-placeholder) {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}
.task-container.cdk-drop-list-dragging .task:not(.cdk-drag-placeholder) {
transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}