
    <autocomplete-filter class="autocomplete" [options]="tags" (itemsSelected)="tagChange($event)"></autocomplete-filter>
    <div class="board">
        <div class="board-bar">
            
            <mat-chip-list #chipList [(ngModel)]="selectedColumns" multiple>
                <mat-chip *ngFor="let column of board.columns" [selectable]="true"
                         [removable]="false" 
                         [selected]="isSelected(column)"
                         (focus)="selectColumn(column)">
                    {{column.name}}
                </mat-chip>
              </mat-chip-list>
        </div>
        <div class="board-wrapper">
            <div class="board-columns" cdkDropListGroup>
                <div class="board-column"
                    cdkDropList
                    [cdkDropListData]="column.tasks"
                    (cdkDropListDropped)="drop($event)" *ngFor="let column of selectedColumns">
                    <div class="column-title" >{{column.name}}</div>
                    <div class="tasks-container">
                      
                        <app-task cdkDrag *ngFor="let item of column.tasks" [item]="item" >  </app-task>
                    </div>
                    
                </div>
                
            </div>
        </div>
    </div>



